#spot1 > img{
    position: absolute;
    top: 650px; left: 0;
    z-index: -1;
    
}
#spot2 > img{
    position: absolute;
    top: 0; right: 0;
    z-index: -1;
}
#spot3{
    position: absolute;
    top: 1218px; right: 0;
    z-index: -1;
}
#spot4{
    z-index: -1;
    position: absolute;
    right: 0;
    top: 3960px;
    
}